{% extends 'satellite/base.html' %}

{% block content %}
<p><a href="{% url 'satellite:tm' %}">Back</a></p>
{% block grid %}
{% endblock %}
<div class="pagination">
	<span class="step-links">
		{% if info.has_previous %}
			<a href="?page={{ info.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ info.number }} of {{ info.paginator.num_pages }}.
		</span>

		{% if info.has_next %}
			<a href="?page={{ info.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>
{% endblock %}